doctype html
html
  head
    title Library Manager
    link(rel='stylesheet', href='/../stylesheets/style.css')
  body
    nav
      ul
        li
          a(href='/') Home
        li
          a(href='all_books.html') Books
        li
          a(href='all_patrons.html') Patrons
        li
          a(href='all_loans.html') Loans
block content
