h1= title
p
  a.button(href='new_loan.html') Create New Loan
p
  | Filters 
  a(href='all_loans.html') All 
  | | 
  a(href='overdue_loans.html') Overdue 
  | | 
  a(href='checked_loans.html') Checked Out
form(action='get')
  p
    input#search_box(type='text' name='search_term' placeholder='Search ...')
include loan_table.pug